{% extends 'layout.html.twig' %}

{% block body %}
{% for cle, value in  app.session.flashBag.get('welcome') %}
        <div class="alert alert-info">
            {{ value }}
        </div>
{% endfor %}

{% endblock %}